In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%pwd
%cd drive/MyDrive/LEAD/

/content/drive/MyDrive/LEAD

In [ ]:
import pandas as pd
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
train_meta=pd.read_csv('train_meta.csv')
print("Cac gia tri bi thieu")
train_meta=train_meta.drop(columns=['site_id'])
train_meta.isnull().sum()

Cac gia tri bi thieu

building_id            0
timestamp              0
meter_reading     107653
primary_use            0
square_feet            0
year_built       1161101
floor_count      1330396
anomaly                0
dtype: int64

In [ ]:
building_meta = pd.read_csv('building_metadata.csv')
print("Building_meta shape:", building_meta.shape)

Building_meta shape: (1449, 6)

In [ ]:
years=building_meta['year_built'].unique()
print(years)

[2008. 2004. 1991. 2002. 1975. 2000. 1981. 1989. 2003. 2010. 1968. 1999.
 2013. 1974. 1996. 1980. 1977. 1990. 1985. 2001. 1969. 2005. 2016. 2006.
 2014. 1970. 1971. 2011. 1997. 2007. 1998. 2009. 1979. 1986. 1982. 1983.
   nan 1913. 1953. 1909. 1958. 1960. 1976. 1906. 1900. 1995. 1956. 1930.
 1967. 1919. 1955. 1965. 1907. 2012. 1992. 1948. 1950. 1941. 1957. 1964.
 1940. 1951. 1966. 1934. 1959. 1993. 1939. 1918. 1963. 1987. 1914. 1973.
 1988. 1935. 1942. 2015. 1931. 1928. 1929. 1908. 1927. 1923. 1962. 1944.
 1910. 1949. 2017. 1922. 1911. 1932. 1978. 1912. 1916. 1924. 1926. 1904.
 1984. 1903. 1925. 1961. 1921. 1972. 1936. 1954. 1905. 1920. 1917. 1952.
 1994. 1933. 1945. 1938. 1915. 1947. 1946. 1902. 1937.]

In [ ]:
categories = train_org['primary_use'].unique()

In [ ]:
print(categories)
categories.shape

['Education' 'Lodging/residential' 'Office'
 'Entertainment/public assembly' 'Other' 'Retail' 'Parking'
 'Public services' 'Warehouse/storage' 'Food sales and service'
 'Religious worship' 'Healthcare' 'Utility' 'Technology/science'
 'Manufacturing/industrial' 'Services']

(16,)

In [ ]:
train=pd.read_csv('train.csv')


train_metadata = pd.merge(train, building_metadata, on='building_id', how='left')

columns = [col for col in train_metadata.columns if col != 'anomaly'] + ['anomaly']
train_metadata = train_metadata[columns]

train_metadata.to_csv('train_meta.csv', index=False)

print("Kết quả đã được lưu vào file 'train_meta.csv'")

Kết quả đã được lưu vào file 'train_meta.csv'

In [ ]:
test=pd.read_csv('test.csv')


test_metadata = pd.merge(test, building_metadata, on='building_id', how='left')


test_metadata.to_csv('test_meta.csv', index=False)

print("Kết quả đã được lưu vào file 'test_meta.csv'")

Kết quả đã được lưu vào file 'test_meta.csv'

In [ ]:
train_meta=pd.read_csv('train_meta.csv')
categories = train_meta['primary_use'].unique()
print(categories)
categories.shape

['Education' 'Office' 'Parking' 'Lodging/residential'
 'Entertainment/public assembly' 'Public services'
 'Manufacturing/industrial' 'Services' 'Other' 'Healthcare'
 'Food sales and service' 'Religious worship']

(12,)

In [ ]:
test_meta=pd.read_csv('test_meta.csv')
categories = test_meta['primary_use'].unique()
print(categories)
categories.shape

['Education' 'Office' 'Lodging/residential' 'Public services'
 'Warehouse/storage' 'Entertainment/public assembly' 'Other' 'Services'
 'Retail' 'Healthcare' 'Food sales and service' 'Utility']

(12,)

In [ ]:
train_meta.head()

,building_id,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,anomaly
0,1,2016-01-01 00:00:00,NaN,0,Education,2720,2004.0,NaN,0
1,32,2016-01-01 00:00:00,NaN,0,Office,48392,2005.0,NaN,0
2,41,2016-01-01 00:00:00,NaN,0,Office,93860,1968.0,NaN,0
3,55,2016-01-01 00:00:00,NaN,0,Office,16726,2011.0,NaN,0
4,69,2016-01-01 00:00:00,NaN,0,Parking,387638,2000.0,NaN,0

In [ ]:
test_meta.head()

,row_id,building_id,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count
0,0,18,2016-01-01 00:00:00,NaN,0,Education,111891,1996.0,NaN
1,1,19,2016-01-01 00:00:00,NaN,0,Office,18717,2004.0,NaN
2,2,26,2016-01-01 00:00:00,NaN,0,Office,26953,2005.0,NaN
3,3,38,2016-01-01 00:00:00,NaN,0,Office,12769,2013.0,NaN
4,4,39,2016-01-01 00:00:00,NaN,0,Office,64619,1969.0,NaN

In [ ]:
#Ma hoa one-hot (train)

train=pd.read_csv('train_meta.csv')
train=pd.get_dummies(train,columns=['primary_use'], drop_first=False)
train[train.select_dtypes(include=['bool']).columns] = train.select_dtypes(include=['bool']).astype(int)

train = train.drop(columns=['site_id'])

train.head()

columns=[col for col in train.columns if col!='anomaly']+['anomaly']
train=train[columns]

train.to_csv('train_meta_one-hot.csv', index=False)

In [ ]:
#Ma hoa Label (train)

train=pd.read_csv('train_meta.csv')

label_encoder = LabelEncoder()
train['primary_use_label'] = label_encoder.fit_transform(train['primary_use'])

columns = [col for col in train.columns if col != 'anomaly'] + ['anomaly']
train = train[columns]

train = train.drop(columns=['site_id','primary_use'])

train['meter_reading_missing'] = train['meter_reading'].isnull().astype(int)
train['year_built_missing'] = train['year_built'].isnull().astype(int)
train['floor_count_missing'] = train['floor_count'].isnull().astype(int)

train['meter_reading'] = train['meter_reading'].fillna(0)
train['year_built'] = train['year_built'].fillna(train['year_built'].median())
train['floor_count'] = train['floor_count'].fillna(1)

print(train[['meter_reading', 'year_built', 'floor_count']].isnull().sum())

print(train.head())

train.to_csv('train_meta_label.csv', index=False)

meter_reading    0
year_built       0
floor_count      0
dtype: int64
   building_id            timestamp  meter_reading  square_feet  year_built  \
0            1  2016-01-01 00:00:00            0.0         2720      2004.0
1           32  2016-01-01 00:00:00            0.0        48392      2005.0
2           41  2016-01-01 00:00:00            0.0        93860      1968.0
3           55  2016-01-01 00:00:00            0.0        16726      2011.0
4           69  2016-01-01 00:00:00            0.0       387638      2000.0

   floor_count  primary_use_label  anomaly  meter_reading_missing  \
0          1.0                  0        0                      1
1          1.0                  6        0                      1
2          1.0                  6        0                      1
3          1.0                  6        0                      1
4          1.0                  8        0                      1

   year_built_missing  floor_count_missing
0                   0                    1
1                   0                    1
2                   0                    1
3                   0                    1
4                   0                    1

In [ ]:
#Ma hoa Label (test)

test=pd.read_csv('test_meta.csv')

label_encoder = LabelEncoder()
test['primary_use_label'] = label_encoder.fit_transform(test['primary_use'])



test = test.drop(columns=['site_id','primary_use'])

test['meter_reading_missing'] = test['meter_reading'].isnull().astype(int)
test['year_built_missing'] = test['year_built'].isnull().astype(int)
test['floor_count_missing'] = test['floor_count'].isnull().astype(int)

test['meter_reading'] = test['meter_reading'].fillna(0)
test['year_built'] = test['year_built'].fillna(test_meta['year_built'].median())
test['floor_count'] = test['floor_count'].fillna(1)

print(test[['meter_reading', 'year_built', 'floor_count']].isnull().sum())

print(test.head())

test.to_csv('test_meta_label.csv', index=False)

meter_reading    0
year_built       0
floor_count      0
dtype: int64
   row_id  building_id            timestamp  meter_reading  square_feet  \
0       0           18  2016-01-01 00:00:00            0.0       111891
1       1           19  2016-01-01 00:00:00            0.0        18717
2       2           26  2016-01-01 00:00:00            0.0        26953
3       3           38  2016-01-01 00:00:00            0.0        12769
4       4           39  2016-01-01 00:00:00            0.0        64619

   year_built  floor_count  primary_use_label  meter_reading_missing  \
0      1996.0          1.0                  0                      1
1      2004.0          1.0                  5                      1
2      2005.0          1.0                  5                      1
3      2013.0          1.0                  5                      1
4      1969.0          1.0                  5                      1

   year_built_missing  floor_count_missing
0                   0                    1
1                   0                    1
2                   0                    1
3                   0                    1
4                   0                    1

**DRAFT**

In [ ]:
import random

test_index = random.randint(0, len(X_val) - 1)

choose_model = 0  # 0: XGBoost, 1: Logistic Regression, 2: ANN

y_actual = Y_val.iloc[test_index]

model, model_name = models[choose_model]

if model_name == 'ANN':
    y_predict = model.predict(X_val[test_index].reshape(1, -1))[0]
    if y_predict.ndim == 2:
        y_predict = y_predict[0]
elif model_name == 'logistic':
    y_predict = model.predict(X_val[test_index].reshape(1, -1))[0]
else:  # XGBoost
    y_predict = model.predict_proba(X_val[test_index].reshape(1, -1))[0, 1]



building_id = X_val_temp['building_id'].iloc[test_index]
meter_reading = X_val_temp['meter_reading'].iloc[test_index]
time = X_val_temp['time'].iloc[test_index]
month = X_val_temp['month'].iloc[test_index]
day = X_val_temp['day'].iloc[test_index]


if choose_model == 0:
    predict_result = "Bất thường" if y_predict > 0.5 else "Bình thường"
    print('Phát hiện bất thường với mô hình XGBoost')
elif choose_model == 1:
    predict_result = "Bất thường" if y_predict > 0.5 else "Bình thường"
    print('Phát hiện bất thường với mô hình hồi quy Logistic')
else:
    predict_result = "Bất thường" if y_predict > 0.6 else "Bình thường"
    print('Phát hiện bất thường với mô hình ANN')

print(y_predict)

# In kết quả
print(f'Tòa nhà {building_id} vào lúc {time}:00 ngày {day}/{month} có chỉ số thu được là {meter_reading}')
print(f'Dự đoán: {predict_result}')
print(f'Trạng thái thực tế: {"Bất thường" if y_actual == 1 else "Bình thường"}')